@model InternalError
@{
    ViewData["Title"] = "Internal error e" + Model.Id;
    ViewData["RefreshSpan"] = 15;
    var disabled = Model.Disabled.AsJson<InternalErrorDisable>();
}

@section Header {
    <h2 class="mt-2">Internal error e@(Model.Id)</h2>
}

<table class="table table-sm table-striped" role="grid" style="width:auto">
    <tbody>
        <tr role="row">
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
        <tr role="row">
            <th>Time</th>
            <td>@Model.Time</td>
        </tr>
        <tr role="row">
            <th>Status</th>
            <td>@Model.Status</td>
        </tr>
        <tr role="row">
            <th>Affect</th>
            <td>
                @if (disabled == null)
                {
                    @:Unknown Disabled
                }
                else if (disabled.ProblemId != null)
                {
                    <a asp-area="Polygon" asp-controller="Editor" asp-action="Overview" asp-route-probid="@disabled.ProblemId">Problem p@(disabled.ProblemId)</a>
                }
                else if (disabled.Language != null)
                {
                    <a asp-area="Dashboard" asp-controller="Languages" asp-action="Detail" asp-route-langid="@disabled.Language">Language @disabled.Language</a>
                }
                else if (disabled.HostName != null)
                {
                    <a asp-area="Dashboard" asp-controller="Judgehosts" asp-action="Detail" asp-route-hostname="@disabled.HostName">Judgehost @disabled.HostName</a>
                }
                else
                {
                    @Model.Disabled
                }
            </td>
        </tr>
    </tbody>
</table>

<h4 class="text-left mt-4">Judgehost log snippet</h4>
<snippet base64="@Model.JudgehostLog" />

@if (Model.Status == InternalErrorStatus.Open)
{
<p class="mt-3">
    <a asp-action="Mark" asp-route-todo="resolve" class="btn btn-success"><i class="fas fa-check"></i> Mark as resolved and re-enable</a>
    <a asp-action="Mark" asp-route-todo="ignore" class="btn btn-danger"><i class="fas fa-times"></i> Mark as ignored</a>
</p>
}
